* {
  box-sizing: border-box;
}

@font-face {
  font-family: "antiqua_b";
  src: url("font/antiqua_b.ttf") format("truetype");
}
@font-face {
  font-family: "Marr";
  src: url("font/Sans.ttf") format("truetype");
}

ul.head {
  list-style: none;
  margin-left: 25%;
  margin-top: 2%;
  font-size: 16px;
  line-height: 26px;
  color: rgb(56, 63, 78);
  letter-spacing: 3px;
  font-family: antiqua_b, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2 {
  margin-left: 25%;
  margin-top: 4%;
  font-size: 38px;
  line-height: 42px;
  color: rgb(42, 48, 59);
}

.text {
  margin-left: 25%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 1%;
  font-size: 18px;
  line-height: 26px;
  color: rgb(42, 48, 59);
}

ul.date {
  margin-left: 25%;
  margin-top: 1%;
  list-style-type: none;
  color: rgb(113, 123, 142);
}

.Paul {
  margin-left: 25%;
  margin-top: 1%;
  height: 25%;
  width: 25%;
}

ul li {
  display: inline;
}

.chronologo {
  height: 1%;
  width: 1%;
}

.lecture {
  margin-top: 1%;
  margin-left: 25%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(113, 123, 142);
}

.barr {
  margin-top: 1%;
  margin-left: 25%;
  color: rgb(113, 123, 142);
}

.citation {
  margin-left: 25%;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(139, 146, 161);
}

.para {
  margin-left: 25%;
  margin-top: 1%;

  font-size: 18px;
  line-height: 28px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(56, 63, 78);
}

.pipe {
  margin-left: 25%;
  margin-top: 1%;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin-top: 1%;
  margin-left: 25%;
  font-size: 25px;
  line-height: 22px;
  font-weight: bold;
}
